.main {
    background-color: #F05454;
}

.cardMusic {
    color: rgb(255, 255, 255);
    margin-top: 2em;
    margin-left: 5%;
    margin-right: 15%;
}

.box {
    background: rgba( 255, 255, 255, 0.60 );
    backdrop-filter: blur( 3.5px );
    -webkit-backdrop-filter: blur( 3.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    transition: all 1s ease;
}

.box:hover {
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    margin-left: 4%;
    margin-right: 14%;
}

.card-body {
	justify-content: center;
	align-items: center;
}