.main {
    overflow-y: scroll !important;
    background-image: url(../../assets/Fondo2.png);
}

.cardMusic {
    color: #000;
    margin-top: 2em;
    margin-left: 5%;
    margin-right: 10%;
    background-color: #EEEBDD;
}

.box {
    backdrop-filter: blur( 3.5px );
    -webkit-backdrop-filter: blur( 3.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    transition: all 1s ease;
    box-shadow: 0 4px 16px 0 #F05454;
}

.box:hover {
    margin-left: 4%;
    margin-right: 9%;
}

.card-body {
	justify-content: center;
	align-items: center;
}

.title {
    color: #000;
}

.tittle {
    color: #000;
    text-align: center;
}