<div class="main">
  <div class="content">
    <div class="title">
      Canciones que me recuerdan a ti 
    </div>
    <div *ngFor="let music of listMusic" class="card mb-3 cardMusic box">
      <div class="card-body">
        <p class="card-text tittle">
            {{music.name}}
        </p>
        <iframe width="100%" [src]="music.trustedVideoUrl" title="music.name" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>